<!DOCTYPE html>
<html>
<head>
    <title>
        404 
    </title>
    <link href="/img/weather.png" rel="icon">
         <link href='css/style.css' type='text/css' rel='stylesheet'>s
</head>
<body>
<div class="main-content">
{{>header}}
<p>{{errorMessage}}</p>

</div>
{{>footer}}
</body>



</html>