<!DOCTYPE html>
<html>
<head>
    <title>
        Help
    </title>
    <link href="/img/weather.png" rel="icon">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="main-content">
    {{>header}}
    </div>

{{>footer}}
</body>
</html>